/* IMPORTANT STUFF */
.transparent {
    display: flex;
    flex-direction: column;
    background: rgba(205, 218, 194, 0.15);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.452);
    overflow: hidden;
}
.outline {
    outline-style: double;
    outline-color: rgba(205, 218, 194, 0.40);
    outline-width: 6px;
    outline-offset: 5px;
}
.gradient {
    background-image: linear-gradient(40deg, rgba(255, 0, 0, 0.40) 0 2%, rgba(0, 0, 255, 0.85));
}
.fitScreen {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;  
}
.layering1 {
    z-index: -1;
}
.layering2 {
    z-index: -99;
}
.blurryImg {
    background: url("../images/mountain.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    filter: blur(6px);
    z-index: -2;
    border-radius: 20px;
}

.button1 {
    padding: 10px;
    background: rgb(43, 43, 44);
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(82, 167, 223);
    border-radius: 20px;
    outline-style: solid;
    outline-color: rgba(82, 167, 223);
    outline-width: 1px;
    outline-offset: -2px;
    transition-timing-function: ease-out;
    transition-duration: 0.21s;
}
.button1:hover {
    padding: 11px;
    background: rgb(82, 167, 223);
    color: rgb(43, 43, 44);
    outline-color: rgba(82, 167, 223);
    outline-width: 1px;
    outline-offset: 2px;
    transition-timing-function: ease-in;
    transition-duration: 0.21s;
    font-size: 15px;
    margin-bottom: -1px;
    margin-top: -1px;
}

.button2 {
    padding: 10px;
    background: rgb(43, 43, 44);
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(223, 82, 148);
    border-radius: 20px;
    outline-style: solid;
    outline-color: rgba(223, 82, 148);
    outline-width: 1px;
    outline-offset: -2px;
    transition-timing-function: ease-out;
    transition-duration: 0.21s;
}
.button2:hover {
    padding: 11px;
    background: rgb(223, 82, 148);
    color: rgb(43, 43, 44);
    outline-color: rgb(223, 82, 148);
    outline-width: 1px;
    outline-offset: 2px;
    transition-timing-function: ease-in;
    transition-duration: 0.21s;
    font-size: 15px;
    margin-bottom: -1px;
    margin-top: -1px;
}

.button3 {
    padding: 10px;
    background: rgb(201, 236, 199);
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(43, 43, 44);
    border-radius: 20px;
    outline-style: solid;
    outline-color: rgba(43, 43, 44);
    outline-width: 1px;
    outline-offset: -2px;
    transition-timing-function: ease-out;
    transition-duration: 0.21s;
}
.button3:hover {
    padding: 11px;
    background: rgb(43, 43, 44);
    color: rgb(87, 223, 82);
    outline-color: rgb(87, 223, 82);
    outline-width: 1px;
    outline-offset: 2px;
    transition-timing-function: ease-in;
    transition-duration: 0.21s;
}

.button4 {
    padding: 10px;
    background: rgb(236, 235, 199);
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(43, 43, 44);
    border-radius: 20px;
    outline-style: solid;
    outline-color: rgba(43, 43, 44);
    outline-width: 1px;
    outline-offset: -2px;
    transition-timing-function: ease-out;
    transition-duration: 0.21s;
}
.button4:hover {
    padding: 11px;
    background: rgb(43, 43, 44);
    color: rgb(240, 229, 80);
    outline-color: rgb(240, 229, 80);
    outline-width: 1px;
    outline-offset: 2px;
    transition-timing-function: ease-in;
    transition-duration: 0.21s;
}



/* NOT SO IMPORTANT STUFF BUT STILL IMPORTANT */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p.title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.70);
    letter-spacing: 3px;
    word-spacing: 10px;
    width: 80%;
    text-align: center;
}
p.body {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.70);
    text-indent: 50px;
    text-align: justify;
}
div.style {
    position: relative;
    left: 20%;
    top: 100px;
    padding: 50px;
    align-items: center;
    width: 50%;
    border-radius: 20px;
}

.transparent1 {
    display: flex;
    flex-direction: column;
    background: rgba(46, 49, 44, 0.15);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.452);
    overflow: hidden;
}
div.style1 {
    flex-direction: column;
    position: relative;
    left: 20%;
    top: 150px;
    padding: 50px 50px;
    align-items: center;
    vertical-align: middle;
    width: 50%;
    border-radius: 20px;
    margin-bottom: 300px;
}
div.style2 {
    flex-direction: row;
    text-align: center;
    padding: 5px;
    height: 100%;
    width: 100%;
}
button.bSize1 {
    margin-right: 10px;
    margin-left: 10px;
    height: 140px;
    width: 45%;
}